* {
    scrollbar-width: none;
    user-select: none;
    margin: none;
}

body {
    background: rgb(122, 13, 122);
}

/* the heading */
.head {
    text-align: center;
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bolder;
    color: white;
}

/* the  contaner */
.container {
    position: fixed;
    top: 60%;
    left: 5%;
    width: 90%;
    height: 14rem;
    background: rgba(177, 24, 248, 0.822);
    border-radius: 10px;
    margin: auto;
}

/* ai number with animation */
#ai {
    display: block;
        font-size: 1.5rem;
        padding-top: 0%;
        text-align: center;
        font-family: verdana;
        font-weight: bolder;
        color: rgb(253, 253, 253);
        animation: pop 0.45s ease-in;
}
@keyframes pop {
    0%{
        transform: scale(0.3);
        opacity: 0;
    }
    50%{
        transform: scale(1.3);
            opacity: 1;
    }
    100%{
        transform: scale(1);
            opacity: 1;
    }
}

/* for th second heading inside container */
.scores {
    font-size: 1.2rem;
    display: inline-block;
    padding: 5%;
    text-align: left;
    font-family: verdana;
    font-weight: bolder;
    color: rgb(253, 253, 253);

}

/* for th second heading inside container */
.trials {
    font-size: 1.2rem;
    display: inline-block;
    padding: 5%;
    float: right;
    text-align: right;
    font-family: verdana;
    font-weight: bolder;
    color: rgb(253, 253, 253);

}

.trial {
    font-size: 1.2rem;
    display: inline-block;
    padding: 5%;
    padding-top: 0%;
    padding-left: 30%;
    text-align: right;
    font-family: verdana;
    font-weight: bolder;
    color: rgb(253, 253, 253);

}

#inputs::placeholder {
    font-size: 0.85rem;
}

/* button one 1 */
#enterone {
    width: 20%;
    height: 4rem;
    display: inline-block;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 6px black;
    transition: transform 0.15s ease, background 0.15s ease, box-shadow 0.15s ease;
    border-radius: 5px;
    left: 10%;
    position: absolute;
    top: 60%;
    font-weight: bolder;
    color: white;
    background: rgb(250, 184, 3);
}
#enterone:active {
    background: #2ecc71;
    transform: translateY(4px) scale(1.05);
    box-shadow: 0 2px #1e5d3a;
}

#enterone:hover {
    color: white;
    background: rgb(250, 184, 3);
    font-weight: bolder;
}

/* button  two 2*/
#entertwo {
    width: 20%;
    height: 4rem;
    display: inline-block;
    font-size: 2rem;
    border: none;
    cursor: pointer;
        box-shadow: 0 3px 6px black;
        transition: transform 0.15s ease, background 0.15s ease, box-shadow 0.15s ease;
    border-radius: 5px;
    left: 40%;
    position: absolute;
    top: 60%;
    font-weight: bolder;
    color: white;
    background: rgb(250, 184, 3);
}
#entertwo:active {
    background: #2ecc71;
    transform: translateY(4px) scale(1.05);
    box-shadow: 0 2px #1e5d3a;
}

#entertwo:hover {
    color: white;
    background: rgb(250, 184, 3);
    font-weight: bolder;
}

/* button three 3 */
#enterthree {
    width: 20%;
    height: 4rem;
    display: inline-block;
    font-size: 2rem;
    border: none;
    cursor: pointer;
        box-shadow: 0 3px 6px black;
        transition: transform 0.15s ease, background 0.15s ease, box-shadow 0.15s ease;
    border-radius: 5px;
    left: 70%;
    position: absolute;
    top: 60%;
    font-weight: bolder;
    color: white;
    background: rgb(250, 184, 3);
}
#enterthree:active {
    background: #2ecc71;
    transform: translateY(4px) scale(1.05);
    box-shadow: 0 2px #1e5d3a;
}

#enterthree:hover {
    color: white;
    background: rgb(250, 184, 3);
    font-weight: bolder;
}

/* ai answer */
#ai-comment {
    display: block;
    font-size: 1.5rem;
    padding-top: 0%;
    text-align: center;
    font-family: verdana;
    font-weight: bolder;
    color: rgb(253, 253, 253);
    animation: animate 1s ease-in;
}
@keyframes animate {
    from{
opacity: 0;
    }
    to{
opacity: 1;
    }
}


/* ai answer */
#ai {
    display: block;
    font-size: 2.5rem;
    padding-top: 0%;
    text-align: center;
    font-family: verdana;
    font-weight: bolder;
    color: rgb(253, 253, 253);
}

/* commentator */
#commentator {
    display: block;
    font-size: 1.5rem;
    padding-top: 0%;
    text-align: center;
    font-family: verdana;
    font-weight: bolder;
    color: rgb(253, 253, 253);
    animation: animate 1s ease-in;
}

/* black background */
#blackbg{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    box-shadow: 0px 0px 9px black;
}


/* game over alert */
#anouncement {
    background: rgba(206, 202, 202, 0.726);
    height: 24rem;
    backdrop-filter: blur(15px);
    padding: 3%;
    box-sizing: border-box;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    display: none;
    position: absolute;
    top: 30%;
    left: 5%;
}

/* game over text */
.over {
    color: red;
    font-weight: bolder;
    font-family: monospace;
    font-size: 3rem;
}

/* for the remaining ratings */
#correct,
#wrong,
#total_attempts {
    color: white;
    font-weight: bold;
    font-family: verdana;
    font-size: 1.5rem;
    margin-bottom: 3%;
}

/* motivate */
#motivate {
    padding-top: 10%;
    color: purple;
    font-weight: bold;
    font-size: 2rem;
    font-family: verdana;
}

/* restart button */
#reset-btn {
    width: 36%;
    height: 3rem;
    margin-top: 10%;
    border-radius: 10px;
    border: none;
    background: purple;
    font-weight: bolder;
    font-size: 1.5rem;
    color: white;
}

#reset-btn:hover {
    background: white;
    color: purple;
}

/* sticker and animation */
#sticker {
    text-align: center;
    display: block;
    font-size: 6rem;
    animation: anims 0.3s ease-in;
}

/* animation for the sticker to pop up */
@keyframes anims {
    from {
        font-size: 2rem;
    }

    to {
        font-size: 6rem;
    }
}

/* games rules */
#rules{
    width: 95%;
    height: 15rem;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    position: absolute;
    top: -50%;
    border-radius: 15px;
    z-index: 3;
    font-size: 1.3rem;
    display: block;
    padding: 5%;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-family: verdana;
    color: purple;
    border: none;
    animation: animss 0.5s ease-in-out alternate forwards;
}
@keyframes animss {
    1%{
top: -45%;
    }
    80%{
top: 35%;
    }
    100%{
top: 30%;
    }
}
/* okay button to start the game */
#okay{
    width: 40%;
    height: 3.2rem;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 8%;
    box-sizing: border-box;
    font-size: 1.7rem;
    font-weight: bolder;
    background: purple;
    color: white;
}

#okay:active {
    background: rgb(131, 122, 122);
    transform: translateY(4px) scale(1.05);
    box-shadow: 0 2px #1e5d3a;
    color: purple;
}

/* the sun moving animation */
#sun {
    position: absolute;
    top: 50%;
    font-size: 3rem;
animation: sun 1s ease-in-out infinite alternate-reverse;
}
@keyframes sun {
    from{
left: 0%;
    }
    to{
left: 80%;
color: green;
    }
}


/* the owner */
#owner {
    display: block;
    position: fixed;
    top: 95%;
    left: 29%;
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;

}



